h1 {
  padding-bottom: 5%;
  text-align: center;
  color: #8828e2;
}

h2 {
  padding-top: 5%;
  text-align: center;
  color: #8828e2;
}

b {
  color: #8828e2;
}
#map {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#overlay {
  width: 100%;
  height: 50%;
  background: #ffffff;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

#classes {
  padding: 5% 5% 5% 5%;
}

#class-times {
  text-align: center;
}

#class-description img {
  width: 100%;
  padding-bottom: 5%;
}

#class-description-restorative p {
  padding-bottom: 4%;
}

#private-lesson{
  text-align: center;
}

@media (max-width: 449px) {
  h1 {
    padding-top: 15%;
  }

  #class-times {
    padding-top: 5%;
  }

  #class-description-restorative p {
    padding: 5% 0% 5% 0;
  }

  #private-lesson {
    padding: 0% 5% 10% 5%;
  }
}

@media (min-width: 450px){
  #class-description {
    width: 100%;
    height: 70%;
  }

  #class-description div {
    width: 50%;
    padding-right: 5%;
    float: left;
  }

  #class-times{
    padding-top: 20%;
    padding-bottom: 5%;
  }

  #class-description img {
    height: 80%;
  }
}

@media (min-width: 1024px){
  #class-times{
    padding-top: 10%;
  }
}

@media (min-width: 1440px){
  #class-times{
    padding-top: 5%;
  }
}


@media (min-width: 1920px){
  #classes {
    font-size: 16px;
  }
}

@media (min-width: 2560px){
  #classes {
    font-size: 18px;
  }
}
