

.error {
    color: red;
}

.success {
    color: green;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}


#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #8828e2;
	display: block;
	font-size: 30px;
	font-weight: 400;
  	padding-bottom: 5%;
}


fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}


#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#8828e2
	;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}
